@font-face {
    font-family: 'Hershey';
    src: url('/fonts/HersheyNoaillesTimes-Triplex-Italic-Bold-Static.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Commissioner';
    src: url('/fonts/Commissioner-Var.ttf') format('truetype-variations');
    font-weight: 100 900; /* supported weight range */
    font-style: oblique 0deg 12deg; /* enables the slnt axis */
    font-display: swap;
}

@font-face {
    font-family: 'Monsieur';
    src: url('/fonts/MonsieurLaDoulaise-Static.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --primary--blue: #4B5E74;
    --background--blue: #E8EEF2;
    --primary--burgundy: #932823;
}
