@font-face {
    font-family: 'Hershey-Triplex-Bold';
    src: url('/fonts/HersheyNoaillesTimes-Triplex-Bold-Static.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hershey-Triplex-Italic-Bold';
    src: url('/fonts/HersheyNoaillesTimes-Triplex-Italic-Bold-Static.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Hershey-Simplex-Light';
    src: url('/fonts/HersheyNoaillesTimes-Simplex-Regular-Static.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Commissioner';
    src: url('/fonts/Commissioner-Var.ttf') format('truetype-variations');
    font-weight: 100 900; /* supported weight range */
    font-style: oblique 0deg 12deg; /* enables the slnt axis */
    font-display: swap;
}

@font-face {
    font-family: 'Monsieur-La-Doulaise';
    src: url('/fonts/MonsieurLaDoulaise-Static.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Whois';
    src: url('/fonts/Whois-Mono-Static.woff') format('woff');
    font-weight: normal;
    font-style: monospace;
    font-display: swap;
}

@font-face {
    font-family: 'GeistMono';
    src: url('/fonts/GeistMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: monospace;
    font-display: swap;
}

:root {
    --primary--blue: #4B5E74;
    --primary--blue--32: #4B5E7432;
    --background--blue: #E8EEF2;
    --secondary--blue: #92B2D0;
    --tertiary--blue: #68819D;
    --light--blue: #B1C8DC;
    --dark--blue: #374657;
    --dark--blue--64: #37465764;
    --darker--blue: #171a1d;
    --barelythere--white: #F9FAFB;
    --primary--burgundy: #932823;
    --primary--burgundy--12: #93292312;
    --primary--burgundy--64: #93292364;
    --barelythere--yellow: #FAF9F1;
    --yellow--hover: #F6F3DA;
    --yellow--outline: #E0DAB6;
    --hover--blue: #F0F5F6;

    

    --quartetvr--bg: #d9d5ccb1;
    --bingo--bg: #b9c3e5c5;
    
    font-size: 87.5%;

    --duration-fast: 300ms;
    --duration-base: 500ms;
    --duration-slow: 800ms;
    --ease-out: cubic-bezier(0.16, 1, 0.3, 1);

    
}
